<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        colors="false"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        bootstrap="vendor/autoload.php"
        stopOnFailure="true">
    <filter>
        <blacklist>
            <directory>vendor</directory>
        </blacklist>
    </filter>

    <testsuites>
        <testsuite name="Unit Tests">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>